<div class="bottom-object">
    <a href="/">
        <img src="/Resources/Images/Home.png" alt="Home" />
    </a>
    <a href="/newpost">
        <img src="/Resources/Images/Add.png" alt="Add New Post" />
    </a>
</div>

@code {
   
}