<div class="navbar">
    <a href="/" class="logo-link">
        <div class="logo">
            <img src="/Resources/Images/Logo.png" alt="Logo">
        </div>
    </a>

    <a href="/navigationpage">
        <div class="burger-icon" id="burger-icon">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </a>

    <a href="/profil" class="user-icon">
        <img src="/Resources/Images/userIcon.png" alt="User Icon">
    </a>
</div>
