.navigation[b-ix1tcs9pki] {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin-top: 190px;
    background-color: white;
    opacity: 0;
    animation: fadeIn-b-ix1tcs9pki 0.5s ease-in forwards;
}

@keyframes fadeIn-b-ix1tcs9pki {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

p[b-ix1tcs9pki] {
    margin: 10px 0;
    color: black;
    font-size: 28px;
}

.navigation a[b-ix1tcs9pki] {
    text-decoration: none;
}

    .navigation a:hover p[b-ix1tcs9pki] {
        opacity: 0.7;
    }
