@page "/About"




<div class="help-page">
    <img class="logo-about" src="/Resources/Images/logoabout.png" />
    <div class="text-field">
        <h2 class="title">Über Uns</h2>
        <p>
            Hallo, wir sind After. Bei unserem Team handelt es sich nur um mich und niemanden sonst.
			Ich bin ein Entwickler und ich habe diese Seite erstellt um meine Fähigkeiten zu verbessern.
			Ich habe diese Seite mit Blazor WebAssembly erstellt und ich habe auch Supabase verwendet.
		</p>


    </div>

</div>
@code {
    
}
