@page "/"
@using Microsoft.Extensions.Logging
@inject Supabase.Client SupabaseClient
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject ILogger<Home> BuBULogger


@if (posts == null)
{
    <p class="loading">Loading...</p>
}
else
{
    <ul class="site-body">
        @foreach (var post in posts)
        {
            <a @onclick="() => ViewPost(post.Id)">
            <li class ="post">
                <p class="post-title">@post.Title</p>
                <p class ="post-text">@post.Text</p>
                

            </li>
            </a>
        }
    </ul>
}


@code {
    private List<Post> posts;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            var response = await SupabaseClient.From<Post>().Get();
            posts = response.Models;

            foreach (var post in response.Models)
            {
                BuBULogger.LogInformation($"Post Title: {post.Title}");
            }
        }
        catch (Exception ex)
        {
            BuBULogger.LogError($"Error loading posts: {ex.Message}");
        }
    }

    private void ViewPost(int id)
    {
        NavigationManager.NavigateTo($"/post/{id}");
    }
}
