@page "/navigationpage"
@inject NavigationManager NavigationManager

<div class="navigation">
	<a href="/about"><p>Über Uns</p></a>
	<a href="/contact"><p>Kontakt</p></a>
	<a href="/rechtliches"><p>Rechtliches</p></a>
	<a href="/help"><p>Hilfe & FAQ</p></a>
	<a href="/bewertung"><p>Bewertung</p></a>
	
</div>

@code {

}
