@inject Supabase.Client SupabaseClient
@inject NavigationManager NavigationManager

@page "/post/{id:int}"

<h1>@post?.Title</h1>

@if (post == null)
{
    <p>Loading...</p>
}
else
{
	@post.Text
    <img src="@($"/Resources/Images/{post.Img}")" alt="Post Image" />
}

@code {
    [Parameter] public int id { get; set; }
    private Post post;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Verwendung des "Operator.Eq" anstelle von "eq"
            post = await SupabaseClient
                .From<Post>()
                .Filter("id", Supabase.Postgrest.Constants.Operator.Equals, id)
                .Single();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching post: {ex.Message}");
        }
    }
}